{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/homepage.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container">
        <div id="home-mission">
        {% block nav %}{{ parent() }}{% endblock %}
            <div class="banner" style="background-image:
                    {% if mission.type == "Surveillance" %}url('{{ asset('assets/images/surveillance.jpg') }}')
                    {% elseif mission.type == "Infiltration" %}url('{{ asset('assets/images/infiltration.jpg') }}')
                    {% else %}url('{{ asset('assets/images/assassinat.jpg') }}'){% endif %}">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 2009.72 221.36" style="enable-background:new 0 0 2009.72 221.36;" xml:space="preserve">
                    <path fill="#ffffff" d="M0,0v221.36h2009.72V0C1767.8,94.15,1407.4,153.88,1004.86,153.88S241.92,94.15,0,0z"/>
                </svg>
                <div class="page-width banner-title">
                    <h1>{{ mission.title }}</h1>
                    <h4>{{ mission.country }}</h4>
                    <p>{{ mission.type }}</p>
                </div>
            </div>

            <div class="description page-width">
                <p>{{ mission.description }}</p>
            </div>
            <div class="target" style="background-image: url('{{ asset('assets/images/svg/target-section.svg') }}')">
                <div class="target-container page-width">
                    <h3>Cible{% if mission.targets|length > 1 %}s{% endif %}</h3>
                    <div class="target-item {% if mission.targets|length > 1 %}multiple{% endif %}">
                        {% for target in mission.targets %}
                        <ul>
                            <li>{{ target.firstName }} {{ target.lastName }}</li>
                            <li>{{ target.dateBirth|date('Y-m-d') }}</li>
                            <li>{{ target.nationality }}</li>
                            <li>Nom de code : {{ target.codeName }}</li>
                        </ul>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="agents-contacts-places page-width">
                <div class="agent-container">
                    <div class="item">
                        <svg width="73" height="72" viewBox="0 0 43 42" fill="#012A3E" stroke="#012A3E" stroke-width="0.2" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.9778 18.5895L10.9796 18.59C17.8554 20.2981 25.0447 20.2981 31.9205 18.59L31.9205 18.59L31.9223 18.5895C32.13 18.5337 32.3127 18.4092 32.4406 18.2363C32.5682 18.0639 32.6338 17.8535 32.6269 17.6392V12.8943C36.3279 14.0525 38.528 15.4742 39.503 16.9405C39.9942 17.6793 40.1742 18.4287 40.0813 19.1655C39.9882 19.9038 39.6199 20.6391 38.9979 21.3451C37.752 22.759 35.5018 24.0395 32.4879 24.9662C29.4766 25.8922 25.7125 26.462 21.45 26.462C17.1769 26.462 13.4097 25.8911 10.399 24.9638C7.38588 24.0358 5.14021 22.7538 3.89917 21.3389C3.27949 20.6324 2.91361 19.8968 2.82256 19.1582C2.7317 18.4212 2.91331 17.6719 3.40542 16.9334C4.38211 15.4678 6.5807 14.0483 10.2732 12.8942V17.6392C10.2662 17.8535 10.3319 18.0639 10.4594 18.2363C10.5874 18.4092 10.7701 18.5337 10.9778 18.5895ZM40.8669 15.6607C39.4709 13.8007 36.7645 12.1181 32.6269 10.9111V3.81182C32.6269 3.03956 32.3201 2.29892 31.774 1.75285C31.228 1.20678 30.4873 0.9 29.7151 0.9C29.4288 0.9 29.2123 0.903893 28.9384 0.991564C28.668 1.07809 28.3464 1.24458 27.8401 1.5583C27.226 1.93877 26.3281 2.54376 24.9029 3.50405C23.9897 4.11931 22.8601 4.88042 21.45 5.82177C20.0031 4.85698 18.852 4.08138 17.9269 3.45804C16.5731 2.54585 15.7032 1.95973 15.0985 1.58394C14.5868 1.26595 14.257 1.09328 13.9794 1.00145C13.6981 0.908371 13.475 0.9 13.185 0.9C12.4127 0.9 11.6721 1.20678 11.126 1.75285C10.58 2.29892 10.2732 3.03956 10.2732 3.81182V10.9111C6.10185 12.1286 3.39132 13.8165 2.00542 15.679C1.30749 16.617 0.945127 17.6 0.90396 18.5876C0.862797 19.5751 1.14304 20.5604 1.71928 21.5028C2.87031 23.3852 5.20384 25.1 8.54214 26.344C11.8826 27.5889 16.2388 28.3661 21.45 28.3661C26.7145 28.3661 31.0888 27.5862 34.4287 26.338C37.7665 25.0906 40.0809 23.3716 41.21 21.486C41.7753 20.5421 42.0438 19.5556 41.9923 18.5678C41.9409 17.58 41.5698 16.5974 40.8669 15.6607ZM12.1773 16.9218V15.4225C18.2848 16.7783 24.6153 16.7783 30.7228 15.4225V16.9218C24.6169 18.2926 18.2831 18.2926 12.1773 16.9218ZM13.185 2.80413C13.2072 2.80413 13.2258 2.80382 13.2422 2.80355C13.2761 2.80298 13.3009 2.80256 13.3297 2.80534C13.3671 2.80893 13.41 2.81841 13.4765 2.84637C13.6151 2.90462 13.841 3.03625 14.3033 3.33553C14.8212 3.67084 15.6264 4.21024 16.9216 5.07788C17.9285 5.75239 19.2315 6.62529 20.9259 7.75488C20.9424 7.76586 20.9586 7.77698 20.9748 7.78803C21.1043 7.87675 21.2283 7.96168 21.4243 7.94086C21.5287 7.92976 21.649 7.8899 21.8001 7.81857C21.9518 7.74694 22.1406 7.64067 22.3832 7.49168C22.9498 7.14374 23.8261 6.55263 25.2424 5.59736C26.246 4.92044 27.5206 4.06066 29.1483 2.97498C29.3006 2.87477 29.4772 2.81741 29.6594 2.80893C29.8416 2.80045 30.0228 2.84119 30.1839 2.9269C30.345 3.0126 30.4801 3.1401 30.5749 3.296C30.6696 3.45175 30.7207 3.63012 30.7228 3.8124V13.4716C24.6221 14.8882 18.278 14.8882 12.1773 13.4716V3.81182C12.1773 3.54456 12.2835 3.28825 12.4725 3.09928C12.6614 2.9103 12.9177 2.80413 13.185 2.80413Z" />
                            <path d="M35.9356 34.1306H35.1006C34.8668 32.7305 34.1489 31.4558 33.0709 30.5296C31.971 29.5848 30.569 29.0653 29.1191 29.0653C27.6691 29.0653 26.2671 29.5848 25.1673 30.5296C24.0892 31.4558 23.3713 32.7305 23.1375 34.1306H19.7635C19.5296 32.7305 18.8118 31.4558 17.7337 30.5296C16.6338 29.5848 15.2318 29.0653 13.7819 29.0653C12.3319 29.0653 10.9299 29.5848 9.83008 30.5296C8.75199 31.4558 8.03414 32.7305 7.80029 34.1306H6.96535C6.71284 34.1306 6.47068 34.2309 6.29214 34.4094C6.11359 34.588 6.01328 34.8301 6.01328 35.0826C6.01328 35.3351 6.11359 35.5773 6.29214 35.7558C6.47068 35.9344 6.71284 36.0347 6.96535 36.0347H7.80029C8.03414 37.4348 8.75199 38.7095 9.83008 39.6356C10.9299 40.5805 12.3319 41.1 13.7819 41.1C15.2318 41.1 16.6338 40.5805 17.7337 39.6356C18.8118 38.7095 19.5296 37.4348 19.7635 36.0347H23.1375C23.3713 37.4348 24.0892 38.7095 25.1673 39.6356C26.2671 40.5805 27.6691 41.1 29.1191 41.1C30.569 41.1 31.971 40.5805 33.0709 39.6356C34.1489 38.7095 34.8668 37.4348 35.1006 36.0347H35.9356C36.1881 36.0347 36.4303 35.9344 36.6088 35.7558C36.7873 35.5773 36.8876 35.3351 36.8876 35.0826C36.8876 34.8301 36.7873 34.588 36.6088 34.4094C36.4303 34.2309 36.1881 34.1306 35.9356 34.1306ZM13.7819 39.2429C12.959 39.2429 12.1547 38.9989 11.4705 38.5418C10.7864 38.0847 10.2531 37.4349 9.93823 36.6747C9.62334 35.9145 9.54096 35.078 9.70148 34.271C9.86201 33.464 10.2582 32.7227 10.8401 32.1408C11.4219 31.559 12.1632 31.1628 12.9702 31.0022C13.7773 30.8417 14.6138 30.9241 15.374 31.239C16.1342 31.5539 16.7839 32.0871 17.2411 32.7713C17.6982 33.4554 17.9422 34.2598 17.9422 35.0826C17.9422 36.186 17.5039 37.2442 16.7237 38.0244C15.9435 38.8046 14.8853 39.2429 13.7819 39.2429ZM29.1191 39.2429C28.2962 39.2429 27.4919 38.9989 26.8077 38.5418C26.1235 38.0847 25.5903 37.4349 25.2754 36.6747C24.9605 35.9145 24.8781 35.078 25.0387 34.271C25.1992 33.464 25.5954 32.7227 26.1773 32.1408C26.7591 31.559 27.5004 31.1628 28.3074 31.0022C29.1144 30.8417 29.9509 30.9241 30.7111 31.239C31.4713 31.5539 32.1211 32.0871 32.5782 32.7713C33.0354 33.4554 33.2794 34.2598 33.2794 35.0826C33.2794 36.186 32.8411 37.2442 32.0609 38.0244C31.2806 38.8046 30.2224 39.2429 29.1191 39.2429Z" />
                        </svg>
                        <h3>Agent{% if mission.agents | length > 1 %}s{% endif %}</h3>
                        {% for agent in mission.agents %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#agentModal">
                                {{ agent.firstName }} {{ agent.lastName }}
                            </a>

                            <div class="modal fade" id="agentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <svg width="93" height="92" viewBox="0 0 43 42" fill="#012A3E" stroke="#012A3E" stroke-width="0.2" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M10.9778 18.5895L10.9796 18.59C17.8554 20.2981 25.0447 20.2981 31.9205 18.59L31.9205 18.59L31.9223 18.5895C32.13 18.5337 32.3127 18.4092 32.4406 18.2363C32.5682 18.0639 32.6338 17.8535 32.6269 17.6392V12.8943C36.3279 14.0525 38.528 15.4742 39.503 16.9405C39.9942 17.6793 40.1742 18.4287 40.0813 19.1655C39.9882 19.9038 39.6199 20.6391 38.9979 21.3451C37.752 22.759 35.5018 24.0395 32.4879 24.9662C29.4766 25.8922 25.7125 26.462 21.45 26.462C17.1769 26.462 13.4097 25.8911 10.399 24.9638C7.38588 24.0358 5.14021 22.7538 3.89917 21.3389C3.27949 20.6324 2.91361 19.8968 2.82256 19.1582C2.7317 18.4212 2.91331 17.6719 3.40542 16.9334C4.38211 15.4678 6.5807 14.0483 10.2732 12.8942V17.6392C10.2662 17.8535 10.3319 18.0639 10.4594 18.2363C10.5874 18.4092 10.7701 18.5337 10.9778 18.5895ZM40.8669 15.6607C39.4709 13.8007 36.7645 12.1181 32.6269 10.9111V3.81182C32.6269 3.03956 32.3201 2.29892 31.774 1.75285C31.228 1.20678 30.4873 0.9 29.7151 0.9C29.4288 0.9 29.2123 0.903893 28.9384 0.991564C28.668 1.07809 28.3464 1.24458 27.8401 1.5583C27.226 1.93877 26.3281 2.54376 24.9029 3.50405C23.9897 4.11931 22.8601 4.88042 21.45 5.82177C20.0031 4.85698 18.852 4.08138 17.9269 3.45804C16.5731 2.54585 15.7032 1.95973 15.0985 1.58394C14.5868 1.26595 14.257 1.09328 13.9794 1.00145C13.6981 0.908371 13.475 0.9 13.185 0.9C12.4127 0.9 11.6721 1.20678 11.126 1.75285C10.58 2.29892 10.2732 3.03956 10.2732 3.81182V10.9111C6.10185 12.1286 3.39132 13.8165 2.00542 15.679C1.30749 16.617 0.945127 17.6 0.90396 18.5876C0.862797 19.5751 1.14304 20.5604 1.71928 21.5028C2.87031 23.3852 5.20384 25.1 8.54214 26.344C11.8826 27.5889 16.2388 28.3661 21.45 28.3661C26.7145 28.3661 31.0888 27.5862 34.4287 26.338C37.7665 25.0906 40.0809 23.3716 41.21 21.486C41.7753 20.5421 42.0438 19.5556 41.9923 18.5678C41.9409 17.58 41.5698 16.5974 40.8669 15.6607ZM12.1773 16.9218V15.4225C18.2848 16.7783 24.6153 16.7783 30.7228 15.4225V16.9218C24.6169 18.2926 18.2831 18.2926 12.1773 16.9218ZM13.185 2.80413C13.2072 2.80413 13.2258 2.80382 13.2422 2.80355C13.2761 2.80298 13.3009 2.80256 13.3297 2.80534C13.3671 2.80893 13.41 2.81841 13.4765 2.84637C13.6151 2.90462 13.841 3.03625 14.3033 3.33553C14.8212 3.67084 15.6264 4.21024 16.9216 5.07788C17.9285 5.75239 19.2315 6.62529 20.9259 7.75488C20.9424 7.76586 20.9586 7.77698 20.9748 7.78803C21.1043 7.87675 21.2283 7.96168 21.4243 7.94086C21.5287 7.92976 21.649 7.8899 21.8001 7.81857C21.9518 7.74694 22.1406 7.64067 22.3832 7.49168C22.9498 7.14374 23.8261 6.55263 25.2424 5.59736C26.246 4.92044 27.5206 4.06066 29.1483 2.97498C29.3006 2.87477 29.4772 2.81741 29.6594 2.80893C29.8416 2.80045 30.0228 2.84119 30.1839 2.9269C30.345 3.0126 30.4801 3.1401 30.5749 3.296C30.6696 3.45175 30.7207 3.63012 30.7228 3.8124V13.4716C24.6221 14.8882 18.278 14.8882 12.1773 13.4716V3.81182C12.1773 3.54456 12.2835 3.28825 12.4725 3.09928C12.6614 2.9103 12.9177 2.80413 13.185 2.80413Z" />
                                                <path d="M35.9356 34.1306H35.1006C34.8668 32.7305 34.1489 31.4558 33.0709 30.5296C31.971 29.5848 30.569 29.0653 29.1191 29.0653C27.6691 29.0653 26.2671 29.5848 25.1673 30.5296C24.0892 31.4558 23.3713 32.7305 23.1375 34.1306H19.7635C19.5296 32.7305 18.8118 31.4558 17.7337 30.5296C16.6338 29.5848 15.2318 29.0653 13.7819 29.0653C12.3319 29.0653 10.9299 29.5848 9.83008 30.5296C8.75199 31.4558 8.03414 32.7305 7.80029 34.1306H6.96535C6.71284 34.1306 6.47068 34.2309 6.29214 34.4094C6.11359 34.588 6.01328 34.8301 6.01328 35.0826C6.01328 35.3351 6.11359 35.5773 6.29214 35.7558C6.47068 35.9344 6.71284 36.0347 6.96535 36.0347H7.80029C8.03414 37.4348 8.75199 38.7095 9.83008 39.6356C10.9299 40.5805 12.3319 41.1 13.7819 41.1C15.2318 41.1 16.6338 40.5805 17.7337 39.6356C18.8118 38.7095 19.5296 37.4348 19.7635 36.0347H23.1375C23.3713 37.4348 24.0892 38.7095 25.1673 39.6356C26.2671 40.5805 27.6691 41.1 29.1191 41.1C30.569 41.1 31.971 40.5805 33.0709 39.6356C34.1489 38.7095 34.8668 37.4348 35.1006 36.0347H35.9356C36.1881 36.0347 36.4303 35.9344 36.6088 35.7558C36.7873 35.5773 36.8876 35.3351 36.8876 35.0826C36.8876 34.8301 36.7873 34.588 36.6088 34.4094C36.4303 34.2309 36.1881 34.1306 35.9356 34.1306ZM13.7819 39.2429C12.959 39.2429 12.1547 38.9989 11.4705 38.5418C10.7864 38.0847 10.2531 37.4349 9.93823 36.6747C9.62334 35.9145 9.54096 35.078 9.70148 34.271C9.86201 33.464 10.2582 32.7227 10.8401 32.1408C11.4219 31.559 12.1632 31.1628 12.9702 31.0022C13.7773 30.8417 14.6138 30.9241 15.374 31.239C16.1342 31.5539 16.7839 32.0871 17.2411 32.7713C17.6982 33.4554 17.9422 34.2598 17.9422 35.0826C17.9422 36.186 17.5039 37.2442 16.7237 38.0244C15.9435 38.8046 14.8853 39.2429 13.7819 39.2429ZM29.1191 39.2429C28.2962 39.2429 27.4919 38.9989 26.8077 38.5418C26.1235 38.0847 25.5903 37.4349 25.2754 36.6747C24.9605 35.9145 24.8781 35.078 25.0387 34.271C25.1992 33.464 25.5954 32.7227 26.1773 32.1408C26.7591 31.559 27.5004 31.1628 28.3074 31.0022C29.1144 30.8417 29.9509 30.9241 30.7111 31.239C31.4713 31.5539 32.1211 32.0871 32.5782 32.7713C33.0354 33.4554 33.2794 34.2598 33.2794 35.0826C33.2794 36.186 32.8411 37.2442 32.0609 38.0244C31.2806 38.8046 30.2224 39.2429 29.1191 39.2429Z" />
                                            </svg>
                                            <h5 class="modal-title" id="agentModalLabel">{{ agent.firstName }} {{ agent.lastName }}</h5>

                                            <div class="infos">
                                                <div class="birthday">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift" viewBox="0 0 16 16">
                                                        <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z"/>
                                                    </svg>
                                                    <p>Date de naissance : {{ agent.dateBirth ? agent.dateBirth|date('Y-m-d') : '' }}</p>
                                                </div>
                                                <div class="code">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                                                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
                                                    </svg>
                                                    <p>Code d'authentification : {{ agent.authCode }}</p>
                                                </div>
                                                <div class="nationality">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                                                    </svg>
                                                    <p>Nationalité : {{ agent.nationality }}</p>
                                                </div>
                                                <div class="skills">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                                                        <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                                                        <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                                                    </svg>
                                                    <p>Spécialité(s): {% for skill in agent.skills %}{{ skill }}{% endfor %}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="contact-container">
                    <div class="item">
                        <svg width="90" height="72" viewBox="0 0 40 22" fill="#012A3E" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.66488 14.3851C10.36 14.3851 12.552 12.1926 12.552 9.49757C12.552 6.80249 10.3595 4.61047 7.66488 4.61047C4.97023 4.61047 2.77734 6.80249 2.77734 9.49757C2.77734 12.1926 4.9698 14.3851 7.66488 14.3851ZM7.66488 6.6668C9.22599 6.6668 10.4956 7.93646 10.4956 9.49757C10.4956 11.0587 9.22599 12.3283 7.66488 12.3283C6.10376 12.3283 4.8341 11.0582 4.8341 9.49757C4.8341 7.93689 6.10376 6.6668 7.66488 6.6668Z"/>
                            <path d="M2.05676 21.5772C2.05676 19.4773 3.76491 17.7691 5.86486 17.7691H9.46485C9.57262 17.7691 9.67951 17.7735 9.7851 17.7826C10.0831 17.8084 10.3789 17.7085 10.5953 17.5095C10.8061 17.3154 10.9226 17.0501 10.9226 16.7626C10.9226 16.2381 10.5212 15.7883 10.0081 15.739C9.82916 15.722 9.6481 15.7128 9.46485 15.7128H5.86486C2.63094 15.7124 0 18.3433 0 21.5772V22H2.05676V21.5772Z" />
                            <path d="M11.2876 21.9996H13.3444V19.4677C13.3444 17.0941 15.2755 15.163 17.6494 15.163H21.6194C23.9929 15.163 25.9244 17.0941 25.9244 19.4677V21.9996H27.9812V19.4677C27.9812 17.3206 26.9031 15.3315 25.0972 14.1473C24.0588 13.4662 22.8563 13.1063 21.6198 13.1063H17.6499C15.6852 13.1063 13.8592 14.0007 12.6402 15.5601C11.7558 16.6914 11.2885 18.0427 11.2885 19.4677V21.9996H11.2876Z" />
                            <path d="M33.4029 15.7123H29.803C29.7022 15.7123 29.6023 15.7154 29.5028 15.7206C28.9482 15.7512 28.5137 16.2036 28.5137 16.7512C28.5137 17.0339 28.631 17.3066 28.8361 17.4999C29.0425 17.6941 29.3126 17.7914 29.5935 17.7752C29.6629 17.7709 29.7327 17.7691 29.803 17.7691H33.4029C35.5029 17.7691 37.2111 19.4773 37.2111 21.5772V22H39.2678V21.5772C39.2678 18.3433 36.6369 15.7123 33.4029 15.7123Z" />
                            <path d="M31.6029 14.3851C34.2979 14.3851 36.4904 12.1926 36.4904 9.49757C36.4904 6.80249 34.2979 4.61047 31.6029 4.61047C28.9078 4.61047 26.7153 6.80249 26.7153 9.49757C26.7153 12.1926 28.9082 14.3851 31.6029 14.3851ZM31.6029 6.6668C33.164 6.6668 34.4336 7.93646 34.4336 9.49757C34.4336 11.0587 33.1635 12.3283 31.6029 12.3283C30.0422 12.3283 28.7721 11.0582 28.7721 9.49757C28.7721 7.93689 30.0422 6.6668 31.6029 6.6668Z"/>
                            <path d="M19.6339 12.2961C23.0236 12.2961 25.7819 9.53815 25.7819 6.14803C25.7819 2.75791 23.024 0 19.6339 0C16.2437 0 13.4858 2.75791 13.4858 6.14803C13.4858 9.53771 16.2437 12.2961 19.6339 12.2961ZM19.6339 2.05632C21.8896 2.05632 23.7251 3.89188 23.7251 6.14803C23.7251 8.40374 21.8896 10.2393 19.6339 10.2393C17.3777 10.2393 15.5422 8.40374 15.5422 6.14803C15.5422 3.89188 17.3777 2.05632 19.6339 2.05632Z"/>
                        </svg>
                        <h3>Contact{% if mission.contacts | length > 1 %}s{% endif %}</h3>
                        {% for contact in mission.contacts %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#contactModal">
                                {{ contact.firstName }} {{ contact.lastName }}
                            </a>

                            <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <svg width="90" height="72" viewBox="0 0 40 22" fill="#012A3E" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M7.66488 14.3851C10.36 14.3851 12.552 12.1926 12.552 9.49757C12.552 6.80249 10.3595 4.61047 7.66488 4.61047C4.97023 4.61047 2.77734 6.80249 2.77734 9.49757C2.77734 12.1926 4.9698 14.3851 7.66488 14.3851ZM7.66488 6.6668C9.22599 6.6668 10.4956 7.93646 10.4956 9.49757C10.4956 11.0587 9.22599 12.3283 7.66488 12.3283C6.10376 12.3283 4.8341 11.0582 4.8341 9.49757C4.8341 7.93689 6.10376 6.6668 7.66488 6.6668Z"/>
                                                <path d="M2.05676 21.5772C2.05676 19.4773 3.76491 17.7691 5.86486 17.7691H9.46485C9.57262 17.7691 9.67951 17.7735 9.7851 17.7826C10.0831 17.8084 10.3789 17.7085 10.5953 17.5095C10.8061 17.3154 10.9226 17.0501 10.9226 16.7626C10.9226 16.2381 10.5212 15.7883 10.0081 15.739C9.82916 15.722 9.6481 15.7128 9.46485 15.7128H5.86486C2.63094 15.7124 0 18.3433 0 21.5772V22H2.05676V21.5772Z" />
                                                <path d="M11.2876 21.9996H13.3444V19.4677C13.3444 17.0941 15.2755 15.163 17.6494 15.163H21.6194C23.9929 15.163 25.9244 17.0941 25.9244 19.4677V21.9996H27.9812V19.4677C27.9812 17.3206 26.9031 15.3315 25.0972 14.1473C24.0588 13.4662 22.8563 13.1063 21.6198 13.1063H17.6499C15.6852 13.1063 13.8592 14.0007 12.6402 15.5601C11.7558 16.6914 11.2885 18.0427 11.2885 19.4677V21.9996H11.2876Z" />
                                                <path d="M33.4029 15.7123H29.803C29.7022 15.7123 29.6023 15.7154 29.5028 15.7206C28.9482 15.7512 28.5137 16.2036 28.5137 16.7512C28.5137 17.0339 28.631 17.3066 28.8361 17.4999C29.0425 17.6941 29.3126 17.7914 29.5935 17.7752C29.6629 17.7709 29.7327 17.7691 29.803 17.7691H33.4029C35.5029 17.7691 37.2111 19.4773 37.2111 21.5772V22H39.2678V21.5772C39.2678 18.3433 36.6369 15.7123 33.4029 15.7123Z" />
                                                <path d="M31.6029 14.3851C34.2979 14.3851 36.4904 12.1926 36.4904 9.49757C36.4904 6.80249 34.2979 4.61047 31.6029 4.61047C28.9078 4.61047 26.7153 6.80249 26.7153 9.49757C26.7153 12.1926 28.9082 14.3851 31.6029 14.3851ZM31.6029 6.6668C33.164 6.6668 34.4336 7.93646 34.4336 9.49757C34.4336 11.0587 33.1635 12.3283 31.6029 12.3283C30.0422 12.3283 28.7721 11.0582 28.7721 9.49757C28.7721 7.93689 30.0422 6.6668 31.6029 6.6668Z"/>
                                                <path d="M19.6339 12.2961C23.0236 12.2961 25.7819 9.53815 25.7819 6.14803C25.7819 2.75791 23.024 0 19.6339 0C16.2437 0 13.4858 2.75791 13.4858 6.14803C13.4858 9.53771 16.2437 12.2961 19.6339 12.2961ZM19.6339 2.05632C21.8896 2.05632 23.7251 3.89188 23.7251 6.14803C23.7251 8.40374 21.8896 10.2393 19.6339 10.2393C17.3777 10.2393 15.5422 8.40374 15.5422 6.14803C15.5422 3.89188 17.3777 2.05632 19.6339 2.05632Z"/>
                                            </svg>
                                            <h5 class="modal-title" id="agentModalLabel">{{ contact.firstName }} {{ contact.lastName }}</h5>

                                            <div class="infos">
                                                <div class="birthday">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gift" viewBox="0 0 16 16">
                                                        <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1v7.5a1.5 1.5 0 0 1-1.5 1.5h-11A1.5 1.5 0 0 1 1 14.5V7a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A2.968 2.968 0 0 1 3 2.506V2.5zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43a.522.522 0 0 0 .023.07zM9 3h2.932a.56.56 0 0 0 .023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0V3zM1 4v2h6V4H1zm8 0v2h6V4H9zm5 3H9v8h4.5a.5.5 0 0 0 .5-.5V7zm-7 8V7H2v7.5a.5.5 0 0 0 .5.5H7z"/>
                                                    </svg>
                                                    <p>Date de naissance : {{ contact.dateBirth ? contact.dateBirth|date('Y-m-d') : '' }}</p>
                                                </div>
                                                <div class="code">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                                                        <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5zM3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"/>
                                                    </svg>
                                                    <p>Nom de code : {{ contact.codeName }}</p>
                                                </div>
                                                <div class="nationality">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                                                    </svg>
                                                    <p>Nationalité : {{ contact.nationality }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="places-container">
                    <div class="item">
                        <svg width="55" height="52" viewBox="0 0 35 32" fill="#012A3E" xmlns="http://www.w3.org/2000/svg">
                            <path d="M33.15 29.5H30.95C31.15 29 31.25 28.5 31.25 27.9C31.25 26.8 30.85 25.8 30.05 25.1C30.75 24.4 31.25 23.4 31.25 22.3C31.25 21.2 30.85 20.2 30.05 19.5C30.75 18.8 31.25 17.8 31.25 16.7C31.25 16.1 31.15 15.6 30.95 15.1H33.15C33.55 15.1 34.05 14.9 34.25 14.5C34.45 14.1 34.45 13.6 34.25 13.3L28.85 3.9C28.55 3.3 28.15 3.1 27.75 3.1H25.25V2.4C25.85 2.3 26.35 1.8 26.35 1.2C26.35 0.500001 25.75 0 25.15 0H24.05H17.65H16.55C15.85 0 15.35 0.600001 15.35 1.2C15.35 1.8 15.85 2.3 16.45 2.4V3.1H6.75C6.35 3.1 5.85 3.3 5.65 3.7L0.15 13.1C-0.05 13.5 -0.05 14 0.15 14.3C0.35 14.7 0.75 14.9 1.25 14.9H3.65C3.45 15.4 3.35 15.9 3.35 16.5C3.35 17.6 3.75 18.6 4.55 19.3C3.75 20.1 3.35 21.1 3.35 22.2C3.35 23.3 3.75 24.3 4.55 25C3.85 25.7 3.35 26.7 3.35 27.8C3.35 28.4 3.45 28.9 3.65 29.4H1.25C0.55 29.4 0.0499996 30 0.0499996 30.6C0.0499996 31.2 0.65 31.8 1.25 31.8H7.35H11.05H17.05H27.15H33.15C33.85 31.8 34.35 31.2 34.35 30.6C34.35 30 33.85 29.5 33.15 29.5ZM22.75 2.4V6.3H18.85V2.4H22.75ZM7.45 5.6H16.35V7.5C16.35 8.2 16.95 8.7 17.55 8.7H23.95C24.65 8.7 25.15 8.1 25.15 7.5V5.6H26.85L30.85 12.5H27.05H26.85H7.45H3.45L7.45 5.6ZM12.35 29.5V20.7H15.85V29.5H12.35V29.5ZM18.35 29.5V19.4C18.35 18.7 17.75 18.2 17.15 18.2H11.15C10.45 18.2 9.95 18.8 9.95 19.4V29.5H7.55C6.65 29.5 5.95 28.8 5.95 27.9C5.95 27 6.65 26.3 7.55 26.3C8.25 26.3 8.75 25.7 8.75 25.1C8.75 24.5 8.15 23.9 7.55 23.9C6.65 23.9 5.95 23.2 5.95 22.3C5.95 21.4 6.65 20.7 7.55 20.7C8.25 20.7 8.75 20.1 8.75 19.5C8.75 18.9 8.15 18.3 7.55 18.3C6.65 18.3 5.95 17.6 5.95 16.7C5.95 15.8 6.65 15.1 7.55 15.1H27.15H27.35C28.25 15.1 28.95 15.8 28.95 16.7C28.95 17.6 28.25 18.3 27.35 18.3H20.95C20.25 18.3 19.75 18.9 19.75 19.5C19.75 20.1 20.35 20.7 20.95 20.7H27.35C28.25 20.7 28.95 21.4 28.95 22.3C28.95 23.2 28.25 23.9 27.35 23.9H20.95C20.25 23.9 19.75 24.5 19.75 25.1C19.75 25.7 20.35 26.3 20.95 26.3H27.35C28.25 26.3 28.95 27 28.95 27.9C28.95 28.8 28.25 29.5 27.35 29.5H18.35Z"/>
                        </svg>
                        <h3>Planque{% if mission.places | length > 1 %}s{% endif %}</h3>
                        {% for place in mission.places %}
                            <a href="" data-bs-toggle="modal" data-bs-target="#placeModal">
                                {{ place.code }}
                            </a>

                            <div class="modal fade" id="placeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <svg width="85" height="82" viewBox="0 0 35 32" fill="#012A3E" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M33.15 29.5H30.95C31.15 29 31.25 28.5 31.25 27.9C31.25 26.8 30.85 25.8 30.05 25.1C30.75 24.4 31.25 23.4 31.25 22.3C31.25 21.2 30.85 20.2 30.05 19.5C30.75 18.8 31.25 17.8 31.25 16.7C31.25 16.1 31.15 15.6 30.95 15.1H33.15C33.55 15.1 34.05 14.9 34.25 14.5C34.45 14.1 34.45 13.6 34.25 13.3L28.85 3.9C28.55 3.3 28.15 3.1 27.75 3.1H25.25V2.4C25.85 2.3 26.35 1.8 26.35 1.2C26.35 0.500001 25.75 0 25.15 0H24.05H17.65H16.55C15.85 0 15.35 0.600001 15.35 1.2C15.35 1.8 15.85 2.3 16.45 2.4V3.1H6.75C6.35 3.1 5.85 3.3 5.65 3.7L0.15 13.1C-0.05 13.5 -0.05 14 0.15 14.3C0.35 14.7 0.75 14.9 1.25 14.9H3.65C3.45 15.4 3.35 15.9 3.35 16.5C3.35 17.6 3.75 18.6 4.55 19.3C3.75 20.1 3.35 21.1 3.35 22.2C3.35 23.3 3.75 24.3 4.55 25C3.85 25.7 3.35 26.7 3.35 27.8C3.35 28.4 3.45 28.9 3.65 29.4H1.25C0.55 29.4 0.0499996 30 0.0499996 30.6C0.0499996 31.2 0.65 31.8 1.25 31.8H7.35H11.05H17.05H27.15H33.15C33.85 31.8 34.35 31.2 34.35 30.6C34.35 30 33.85 29.5 33.15 29.5ZM22.75 2.4V6.3H18.85V2.4H22.75ZM7.45 5.6H16.35V7.5C16.35 8.2 16.95 8.7 17.55 8.7H23.95C24.65 8.7 25.15 8.1 25.15 7.5V5.6H26.85L30.85 12.5H27.05H26.85H7.45H3.45L7.45 5.6ZM12.35 29.5V20.7H15.85V29.5H12.35V29.5ZM18.35 29.5V19.4C18.35 18.7 17.75 18.2 17.15 18.2H11.15C10.45 18.2 9.95 18.8 9.95 19.4V29.5H7.55C6.65 29.5 5.95 28.8 5.95 27.9C5.95 27 6.65 26.3 7.55 26.3C8.25 26.3 8.75 25.7 8.75 25.1C8.75 24.5 8.15 23.9 7.55 23.9C6.65 23.9 5.95 23.2 5.95 22.3C5.95 21.4 6.65 20.7 7.55 20.7C8.25 20.7 8.75 20.1 8.75 19.5C8.75 18.9 8.15 18.3 7.55 18.3C6.65 18.3 5.95 17.6 5.95 16.7C5.95 15.8 6.65 15.1 7.55 15.1H27.15H27.35C28.25 15.1 28.95 15.8 28.95 16.7C28.95 17.6 28.25 18.3 27.35 18.3H20.95C20.25 18.3 19.75 18.9 19.75 19.5C19.75 20.1 20.35 20.7 20.95 20.7H27.35C28.25 20.7 28.95 21.4 28.95 22.3C28.95 23.2 28.25 23.9 27.35 23.9H20.95C20.25 23.9 19.75 24.5 19.75 25.1C19.75 25.7 20.35 26.3 20.95 26.3H27.35C28.25 26.3 28.95 27 28.95 27.9C28.95 28.8 28.25 29.5 27.35 29.5H18.35Z"/>
                                            </svg>
                                            <h5 class="modal-title" id="agentModalLabel">Planque {{ place.code }}</h5>

                                            <div class="infos">
                                                <div class="address">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                                                    </svg>
                                                    <p>Adresse : {{ place.address }}</p>
                                                </div>
                                                <div class="country">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag" viewBox="0 0 16 16">
                                                        <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001M14 1.221c-.22.078-.48.167-.766.255-.81.252-1.872.523-2.734.523-.886 0-1.592-.286-2.203-.534l-.008-.003C7.662 1.21 7.139 1 6.5 1c-.669 0-1.606.229-2.415.478A21.294 21.294 0 0 0 3 1.845v6.433c.22-.078.48-.167.766-.255C4.576 7.77 5.638 7.5 6.5 7.5c.847 0 1.548.28 2.158.525l.028.01C9.32 8.29 9.86 8.5 10.5 8.5c.668 0 1.606-.229 2.415-.478A21.317 21.317 0 0 0 14 7.655V1.222z"/>
                                                    </svg>
                                                    <p>Pays : {{ place.country }}</p>
                                                </div>
                                                <div class="nationality">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                                                        <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                                                        <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                                                    </svg>
                                                    <p>Type : {{ place.type }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="rest-infos page-width">
                <p>Type de mission : {{ mission.type }}</p>
                <p>Spécialité : {{ mission.skill }}</p>
                <p>Statut : {{ mission.status }}</p>
                <div class="dates">
                    <p>Date de début : {{ mission.dateStart ? mission.dateStart|date('Y-m-d') : '' }}</p>
                    <p>Date de fin : {{ mission.dateEnd ? mission.dateEnd|date('Y-m-d') : '' }}</p>
                </div>
            </div>

            <div class="page-width">
                <button class="btn connect-button"><a href="{{ path('home')~'#missions-anchor' }}">Voir toutes les missions</a></button>
            </div>


        </div>
        {% block footer %}{{ parent() }}{% endblock %}
    </div>
{% endblock %}
