{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container">
        {% block nav %}{{ parent() }}{% endblock %}

        <div id="connexion" class="page-width">
             {{ form_start(form) }}
            {{ form_rest(form) }}
            <button class="btn btn-lg connect-button" type="submit">Créer</button>
            {{ form_end(form) }}
        </div>

        {#  <div class="abstract-bg" style="background-image: url('{{ asset('assets/images/abstract-background.png') }}')"></div>#}

        {% block footer %}{{ parent() }}{% endblock %}
    </div>
{% endblock %}
