{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle mission{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/dashboard-bases.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="container" class="admin-dashboard">
        <div id="mission">
            {% block dashboard %}{{ parent() }}{% endblock %}
            <div class="page-width">
                {% for agent in mission.agents %}
                {{ dump(agent.firstName) }}
                {% endfor %}
                <h1>Créer une nouvelle mission</h1>
                <div class="form-container">
                    {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <button class="btn btn-lg connect-button" type="submit">Créer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        {% block footer %}{{ parent() }}{% endblock %}
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script>

            /*DIV OF SELECT*/
            let countrySelect = document.getElementById('mission_country');
            let skillSelect = document.getElementById('mission_skill');
            let contactSelect = document.getElementById('mission_contacts');
            let placeSelect = document.getElementById('mission_places');
            let agentSelect = document.getElementById('mission_agents');
            let targetSelect = document.getElementById('mission_targets');

            /*SELECT INPUT*/
            let contactSelectParent = document.getElementById('mission_contacts').parentNode;
            let placeSelectParent = document.getElementById('mission_places').parentNode;
            let skillSelectParent = document.getElementById('mission_skill').parentNode;
            let agentSelectParent = document.getElementById('mission_agents').parentNode;
            let targetSelectParent = document.getElementById('mission_targets').parentNode;

            let typeSelectParent = document.getElementById('mission_type').parentNode;
            let statusSelectParent = document.getElementById('mission_status').parentNode;
            let dateStartSelectParent = document.getElementById('mission_date_start').parentNode;
            let dateEndSelectParent = document.getElementById('mission_date_end').parentNode;

            let elementsToHide = [contactSelectParent,placeSelectParent,skillSelectParent,agentSelectParent,targetSelectParent, typeSelectParent, statusSelectParent, dateStartSelectParent ,dateEndSelectParent];

            for (let element of elementsToHide){
                element.style.display='none';
            }

            countrySelect.addEventListener('change', ()=>{
                contactSelectParent.style.display='block';
            });
            contactSelect.addEventListener('change', ()=>{
                placeSelectParent.style.display='block';
            });
            placeSelect.addEventListener('change', ()=>{
                skillSelectParent.style.display='block';
            });
            skillSelect.addEventListener('change', ()=>{
                agentSelectParent.style.display='block';
            });
            agentSelect.addEventListener('change', ()=>{
                targetSelectParent.style.display='block';
            });
            targetSelect.addEventListener('change', ()=>{
                for (let i = 5; i < elementsToHide.length; i++){
                    elementsToHide[i].style.display='block';
                }
            });


        </script>
    {% endblock %}

{% endblock %}
