<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bases.css') }}" rel="stylesheet">
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="{% if app.request.get('_route') != 'app_login' %}white{% else %}dark{% endif %}">
                <div>
                    <figure class="zzh-logo">
                        {% if app.request.get('_route') != 'app_login' %}
                            <img src="{{ asset('assets/images/svg/zzh-logo-white.svg') }}" alt="Logo de Zero Zero Huit">
                        {% else %}
                        <img src="{{ asset('assets/images/svg/zzh-logo-dark.svg') }}" alt="Logo de Zero Zero Huit">
                        {% endif %}
                    </figure>
                    <ul>
                        <li>Nos missions</li>
                    </ul>
                </div>
                <button class="connect-button">
                    <a href="#">Se connecter</a>
                </button>
            </nav>
            {% block body %}{% endblock %}

            <footer>
                <figure>
                    <img src="{{ asset('assets/images/svg/zzh-logo-white.svg') }}" alt="Logo de Zero Zero Huit">
                </figure>
                <p>Made with love<br>by Séverine</p>
            </footer>
        </div>
    </body>
</html>



