<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('assets/css/bases.css') }}" rel="stylesheet">
        {% endblock %}

    </head>
    <body>
    {% block body %}
                {% block dashboard %}
                <div class="nav">
                    <button class="btn connect-button">
                        <a href="{{ path('app_logout') }}">Se déconnecter</a>
                    </button>
                </div>

                <div class="sidebar">
                    <div class="logo">
                        <a href="{{ path('home') }}">
                            <figure>
                                <img src="{{ asset('assets/images/svg/zzh-logo-white.svg') }}" alt="Logo de Zero Zero Huit">
                        </figure>
                        </a>
                    </div>

                    <div class="icons">
                       {# #} <div class="general">
                            <figure>
                                <a href="{{ path('dashboard') }}">
                                    {% if app.request.get('_route') == 'dashboard' %}
                                    <svg  width="41" height="41" fill="#3996C4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                          viewBox="0 0 41.62 31.47" style="enable-background:new 0 0 41.62 31.47;" xml:space="preserve">
                                    {% else %}
                                        <svg  width="41" height="41" fill="#ffffff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                             viewBox="0 0 41.62 31.47" style="enable-background:new 0 0 41.62 31.47;" xml:space="preserve">
                                        {% endif %}
                                            <path d="M0,17.77l0,12.7c0,0.51,0.49,1,1,1h3.7c0.51,0,1-0.49,1-1v-5.4h11.6c0.45,0,0.78-0.2,0.88-0.51L21,18.72l10.33,3.64
                                                l0.03,0.01h0.03h0.3c0.1,0,0.24,0,0.38-0.11c0.27-0.05,0.4-0.31,0.51-0.53l3.08-8.93l3.94-2.56c0.32-0.21,0.49-0.55,0.49-0.97
                                                c0-0.37-0.23-0.65-0.63-0.79L15.09,0.1C14.96,0.03,14.83,0,14.7,0c-0.12,0-0.23,0.03-0.35,0.08c-0.29,0.03-0.43,0.31-0.54,0.53
                                                l-2.7,7.71l-1.69,5.27c-0.12,0.24-0.13,0.5-0.02,0.74c0.03,0.29,0.31,0.43,0.53,0.54l9.19,3.23l-2.45,5.09H5.7v-5.4
                                                c0-0.51-0.49-1-1-1H1C0.37,16.77,0,17.28,0,17.77z M1.9,29.47v-10.7h1.8v10.7H1.9z M36.86,9.73l-2.67,1.78l-3.92,2.55l-17.02-6
                                                l2.07-5.92L36.86,9.73z M33,14.59l-2.02,5.63l-19.53-6.87l1.17-3.42l17.41,6.13l0.03,0.01h0.03h0.3h0.1h0.1
                                                c0.11,0,0.28,0,0.41-0.13L33,14.59z"/>
                                            <path d="M34.22,21.99c-0.12,0.24-0.13,0.5-0.02,0.74c0.03,0.29,0.31,0.43,0.53,0.54l3.4,1.2l0.03,0.01h0.03h0.3
                                                c0.4,0,0.76-0.26,0.89-0.63l2.21-6.22c0.12-0.48-0.12-1.11-0.63-1.24l-3.38-1.19c-0.13-0.06-0.26-0.1-0.39-0.1
                                                c-0.12,0-0.23,0.03-0.35,0.08c-0.29,0.03-0.43,0.31-0.54,0.53L34.22,21.99z M36.35,21.65l1.47-4.32l1.52,0.56l-1.47,4.32
                                                L36.35,21.65z M37.5,15.38c-0.1-0.05-0.2-0.08-0.3-0.08h0C37.3,15.3,37.4,15.33,37.5,15.38z"/>
                                        </svg>
                                </a>
                            </figure>

                        </div>

                        <div class="missions">
                            <figure>
                                <a href="{{ path('mission_index') }}">
                                    {% if app.request.get('_route') starts with 'mission' %}
                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="#3996C4" xmlns="http://www.w3.org/2000/svg">
                                    {% else %}
                                    <svg width="31" height="31" viewBox="0 0 31 31" fill="white" xmlns="http://www.w3.org/2000/svg">
                                    {% endif %}
                                        <path d="M10.3333 7.75001C9.61997 7.75001 9.04167 8.32831 9.04167 9.04168C9.04167 9.75505 9.61997 10.3333 10.3333 10.3333H20.6667C21.38 10.3333 21.9583 9.75505 21.9583 9.04168C21.9583 8.32831 21.38 7.75001 20.6667 7.75001H10.3333Z"/>
                                        <path d="M9.04167 14.2083C9.04167 13.495 9.61997 12.9167 10.3333 12.9167H20.6667C21.38 12.9167 21.9583 13.495 21.9583 14.2083C21.9583 14.9217 21.38 15.5 20.6667 15.5H10.3333C9.61997 15.5 9.04167 14.9217 9.04167 14.2083Z"/>
                                        <path d="M10.3333 18.0833C9.61997 18.0833 9.04167 18.6616 9.04167 19.375C9.04167 20.0884 9.61997 20.6667 10.3333 20.6667H15.5C16.2134 20.6667 16.7917 20.0884 16.7917 19.375C16.7917 18.6616 16.2134 18.0833 15.5 18.0833H10.3333Z" />
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M6.45833 2.58334C5.0316 2.58334 3.875 3.73994 3.875 5.16668V25.8333C3.875 27.2601 5.0316 28.4167 6.45833 28.4167H24.5417C25.9684 28.4167 27.125 27.2601 27.125 25.8333V5.16668C27.125 3.73994 25.9684 2.58334 24.5417 2.58334H6.45833ZM24.5417 5.16668H6.45833L6.45833 25.8333H17.5178L24.5417 18.2242V5.16668ZM24.5417 25.8333H21.0335L24.5417 22.0328V25.8333Z"/>
                                    </svg>

                                </a>
                                <img class="buffer" src="{{ asset('assets/images/svg/buffer.svg') }}" alt="Logo de Zero Zero Huit">
                            </figure>

                        </div>
                        <div class="target">
                            <figure>
                                <a href="{{ path('target_index') }}">
                                    {% if app.request.get('_route') starts with 'target' %}
                                <svg width="30" height="30" viewBox="0 0 30 30" fill="#3996C4" xmlns="http://www.w3.org/2000/svg">
                                    {% else %}
                                    <svg width="30" height="30" viewBox="0 0 30 30" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                                    {% endif %}
                                    <path d="M14.0628 7.50043C14.8166 7.50043 15.5436 7.60918 16.2393 7.79527L13.7033 10.3312C10.7693 10.5177 8.43769 12.9575 8.43769 15.9378C8.43769 19.0394 10.961 21.5627 14.0628 21.5627C17.0432 21.5627 19.4831 19.2311 19.6697 16.2968L22.2057 13.7609C22.3918 14.457 22.5005 15.184 22.5005 15.9378C22.5005 20.59 18.7153 24.3751 14.0628 24.3751C9.41037 24.3751 5.62513 20.59 5.62513 15.9378C5.62513 11.2855 9.41037 7.50043 14.0628 7.50043ZM25.3131 13.5941H25.0656C25.2268 14.3506 25.3131 15.1339 25.3131 15.9378C25.3131 22.1411 20.2664 27.1876 14.0628 27.1876C7.85924 27.1876 2.81256 22.1411 2.81256 15.9378C2.81256 9.73445 7.85924 4.68798 14.0628 4.68798C14.8667 4.68798 15.65 4.77423 16.4066 4.93548V4.68798C16.4066 3.79831 16.6898 2.94239 17.1988 2.23225C16.1896 2.00163 15.141 1.87553 14.0628 1.87553C6.30858 1.87553 0 8.18385 0 15.9378C0 23.6917 6.30858 30 14.0628 30C21.8171 30 28.1256 23.6917 28.1256 15.9378C28.1256 14.8597 27.9995 13.8111 27.7689 12.8019C27.0587 13.3109 26.2028 13.5941 25.3131 13.5941ZM29.6529 6.55169L26.3715 10.3016C26.1043 10.6063 25.7185 10.7816 25.3131 10.7816H21.2077L16.7774 15.2117C16.8393 15.4437 16.8754 15.6865 16.8754 15.9378C16.8754 17.4912 15.6163 18.7502 14.0628 18.7502C12.5093 18.7502 11.2503 17.4912 11.2503 15.9378C11.2503 14.3844 12.5093 13.1253 14.0628 13.1253C14.3141 13.1253 14.5569 13.1614 14.7889 13.2233L19.2192 8.79321V4.68798C19.2192 4.28252 19.3945 3.89675 19.6992 3.62956L23.4493 0.348375C23.8116 0.0310377 24.3109 -0.0791169 24.7731 0.0577555C25.2348 0.194159 25.5953 0.556965 25.7275 1.02008L26.4503 3.54988L28.9802 4.27268C29.4433 4.40486 29.8066 4.76532 29.9425 5.22703C30.0785 5.68874 29.9697 6.18889 29.6529 6.55169ZM26.0757 6.36842L24.9268 6.0403C24.4595 5.90671 24.0948 5.54156 23.9607 5.07422L23.6326 3.92534L22.0317 5.32594V7.96917H24.6751L26.0757 6.36842Z"/>
                                </svg>
                                </a>
                            </figure>
                        </div>
                        <div class="agent">
                            <figure>
                                <a href="{{ path('agent_index') }}">
                                    {% if app.request.get('_route') starts with 'agent' %}
                                        <svg width="43" height="42" viewBox="0 0 43 42" fill="#3996C4" stroke="#ffffff" stroke-width="0.2" xmlns="http://www.w3.org/2000/svg">
                                    {% else %}
                                        <svg width="43" height="42" viewBox="0 0 43 42" fill="#ffffff" stroke="#ffffff" stroke-width="0.2" xmlns="http://www.w3.org/2000/svg">
                                    {% endif %}
                                        <path d="M10.9778 18.5895L10.9796 18.59C17.8554 20.2981 25.0447 20.2981 31.9205 18.59L31.9205 18.59L31.9223 18.5895C32.13 18.5337 32.3127 18.4092 32.4406 18.2363C32.5682 18.0639 32.6338 17.8535 32.6269 17.6392V12.8943C36.3279 14.0525 38.528 15.4742 39.503 16.9405C39.9942 17.6793 40.1742 18.4287 40.0813 19.1655C39.9882 19.9038 39.6199 20.6391 38.9979 21.3451C37.752 22.759 35.5018 24.0395 32.4879 24.9662C29.4766 25.8922 25.7125 26.462 21.45 26.462C17.1769 26.462 13.4097 25.8911 10.399 24.9638C7.38588 24.0358 5.14021 22.7538 3.89917 21.3389C3.27949 20.6324 2.91361 19.8968 2.82256 19.1582C2.7317 18.4212 2.91331 17.6719 3.40542 16.9334C4.38211 15.4678 6.5807 14.0483 10.2732 12.8942V17.6392C10.2662 17.8535 10.3319 18.0639 10.4594 18.2363C10.5874 18.4092 10.7701 18.5337 10.9778 18.5895ZM40.8669 15.6607C39.4709 13.8007 36.7645 12.1181 32.6269 10.9111V3.81182C32.6269 3.03956 32.3201 2.29892 31.774 1.75285C31.228 1.20678 30.4873 0.9 29.7151 0.9C29.4288 0.9 29.2123 0.903893 28.9384 0.991564C28.668 1.07809 28.3464 1.24458 27.8401 1.5583C27.226 1.93877 26.3281 2.54376 24.9029 3.50405C23.9897 4.11931 22.8601 4.88042 21.45 5.82177C20.0031 4.85698 18.852 4.08138 17.9269 3.45804C16.5731 2.54585 15.7032 1.95973 15.0985 1.58394C14.5868 1.26595 14.257 1.09328 13.9794 1.00145C13.6981 0.908371 13.475 0.9 13.185 0.9C12.4127 0.9 11.6721 1.20678 11.126 1.75285C10.58 2.29892 10.2732 3.03956 10.2732 3.81182V10.9111C6.10185 12.1286 3.39132 13.8165 2.00542 15.679C1.30749 16.617 0.945127 17.6 0.90396 18.5876C0.862797 19.5751 1.14304 20.5604 1.71928 21.5028C2.87031 23.3852 5.20384 25.1 8.54214 26.344C11.8826 27.5889 16.2388 28.3661 21.45 28.3661C26.7145 28.3661 31.0888 27.5862 34.4287 26.338C37.7665 25.0906 40.0809 23.3716 41.21 21.486C41.7753 20.5421 42.0438 19.5556 41.9923 18.5678C41.9409 17.58 41.5698 16.5974 40.8669 15.6607ZM12.1773 16.9218V15.4225C18.2848 16.7783 24.6153 16.7783 30.7228 15.4225V16.9218C24.6169 18.2926 18.2831 18.2926 12.1773 16.9218ZM13.185 2.80413C13.2072 2.80413 13.2258 2.80382 13.2422 2.80355C13.2761 2.80298 13.3009 2.80256 13.3297 2.80534C13.3671 2.80893 13.41 2.81841 13.4765 2.84637C13.6151 2.90462 13.841 3.03625 14.3033 3.33553C14.8212 3.67084 15.6264 4.21024 16.9216 5.07788C17.9285 5.75239 19.2315 6.62529 20.9259 7.75488C20.9424 7.76586 20.9586 7.77698 20.9748 7.78803C21.1043 7.87675 21.2283 7.96168 21.4243 7.94086C21.5287 7.92976 21.649 7.8899 21.8001 7.81857C21.9518 7.74694 22.1406 7.64067 22.3832 7.49168C22.9498 7.14374 23.8261 6.55263 25.2424 5.59736C26.246 4.92044 27.5206 4.06066 29.1483 2.97498C29.3006 2.87477 29.4772 2.81741 29.6594 2.80893C29.8416 2.80045 30.0228 2.84119 30.1839 2.9269C30.345 3.0126 30.4801 3.1401 30.5749 3.296C30.6696 3.45175 30.7207 3.63012 30.7228 3.8124V13.4716C24.6221 14.8882 18.278 14.8882 12.1773 13.4716V3.81182C12.1773 3.54456 12.2835 3.28825 12.4725 3.09928C12.6614 2.9103 12.9177 2.80413 13.185 2.80413Z" />
                                        <path d="M35.9356 34.1306H35.1006C34.8668 32.7305 34.1489 31.4558 33.0709 30.5296C31.971 29.5848 30.569 29.0653 29.1191 29.0653C27.6691 29.0653 26.2671 29.5848 25.1673 30.5296C24.0892 31.4558 23.3713 32.7305 23.1375 34.1306H19.7635C19.5296 32.7305 18.8118 31.4558 17.7337 30.5296C16.6338 29.5848 15.2318 29.0653 13.7819 29.0653C12.3319 29.0653 10.9299 29.5848 9.83008 30.5296C8.75199 31.4558 8.03414 32.7305 7.80029 34.1306H6.96535C6.71284 34.1306 6.47068 34.2309 6.29214 34.4094C6.11359 34.588 6.01328 34.8301 6.01328 35.0826C6.01328 35.3351 6.11359 35.5773 6.29214 35.7558C6.47068 35.9344 6.71284 36.0347 6.96535 36.0347H7.80029C8.03414 37.4348 8.75199 38.7095 9.83008 39.6356C10.9299 40.5805 12.3319 41.1 13.7819 41.1C15.2318 41.1 16.6338 40.5805 17.7337 39.6356C18.8118 38.7095 19.5296 37.4348 19.7635 36.0347H23.1375C23.3713 37.4348 24.0892 38.7095 25.1673 39.6356C26.2671 40.5805 27.6691 41.1 29.1191 41.1C30.569 41.1 31.971 40.5805 33.0709 39.6356C34.1489 38.7095 34.8668 37.4348 35.1006 36.0347H35.9356C36.1881 36.0347 36.4303 35.9344 36.6088 35.7558C36.7873 35.5773 36.8876 35.3351 36.8876 35.0826C36.8876 34.8301 36.7873 34.588 36.6088 34.4094C36.4303 34.2309 36.1881 34.1306 35.9356 34.1306ZM13.7819 39.2429C12.959 39.2429 12.1547 38.9989 11.4705 38.5418C10.7864 38.0847 10.2531 37.4349 9.93823 36.6747C9.62334 35.9145 9.54096 35.078 9.70148 34.271C9.86201 33.464 10.2582 32.7227 10.8401 32.1408C11.4219 31.559 12.1632 31.1628 12.9702 31.0022C13.7773 30.8417 14.6138 30.9241 15.374 31.239C16.1342 31.5539 16.7839 32.0871 17.2411 32.7713C17.6982 33.4554 17.9422 34.2598 17.9422 35.0826C17.9422 36.186 17.5039 37.2442 16.7237 38.0244C15.9435 38.8046 14.8853 39.2429 13.7819 39.2429ZM29.1191 39.2429C28.2962 39.2429 27.4919 38.9989 26.8077 38.5418C26.1235 38.0847 25.5903 37.4349 25.2754 36.6747C24.9605 35.9145 24.8781 35.078 25.0387 34.271C25.1992 33.464 25.5954 32.7227 26.1773 32.1408C26.7591 31.559 27.5004 31.1628 28.3074 31.0022C29.1144 30.8417 29.9509 30.9241 30.7111 31.239C31.4713 31.5539 32.1211 32.0871 32.5782 32.7713C33.0354 33.4554 33.2794 34.2598 33.2794 35.0826C33.2794 36.186 32.8411 37.2442 32.0609 38.0244C31.2806 38.8046 30.2224 39.2429 29.1191 39.2429Z" />
                                    </svg>
                                </a>
                            </figure>
                        </div>
                        <div class="place">
                            <figure>
                                <a href="{{ path('place_index') }}">
                                    {% if app.request.get('_route') starts with 'place' %}
                                        <svg width="35" height="32" viewBox="0 0 35 32" fill="#3996C4" xmlns="http://www.w3.org/2000/svg">
                                        {% else %}
                                        <svg width="35" height="32" viewBox="0 0 35 32" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                                    {% endif %}
                                        <path d="M33.15 29.5H30.95C31.15 29 31.25 28.5 31.25 27.9C31.25 26.8 30.85 25.8 30.05 25.1C30.75 24.4 31.25 23.4 31.25 22.3C31.25 21.2 30.85 20.2 30.05 19.5C30.75 18.8 31.25 17.8 31.25 16.7C31.25 16.1 31.15 15.6 30.95 15.1H33.15C33.55 15.1 34.05 14.9 34.25 14.5C34.45 14.1 34.45 13.6 34.25 13.3L28.85 3.9C28.55 3.3 28.15 3.1 27.75 3.1H25.25V2.4C25.85 2.3 26.35 1.8 26.35 1.2C26.35 0.500001 25.75 0 25.15 0H24.05H17.65H16.55C15.85 0 15.35 0.600001 15.35 1.2C15.35 1.8 15.85 2.3 16.45 2.4V3.1H6.75C6.35 3.1 5.85 3.3 5.65 3.7L0.15 13.1C-0.05 13.5 -0.05 14 0.15 14.3C0.35 14.7 0.75 14.9 1.25 14.9H3.65C3.45 15.4 3.35 15.9 3.35 16.5C3.35 17.6 3.75 18.6 4.55 19.3C3.75 20.1 3.35 21.1 3.35 22.2C3.35 23.3 3.75 24.3 4.55 25C3.85 25.7 3.35 26.7 3.35 27.8C3.35 28.4 3.45 28.9 3.65 29.4H1.25C0.55 29.4 0.0499996 30 0.0499996 30.6C0.0499996 31.2 0.65 31.8 1.25 31.8H7.35H11.05H17.05H27.15H33.15C33.85 31.8 34.35 31.2 34.35 30.6C34.35 30 33.85 29.5 33.15 29.5ZM22.75 2.4V6.3H18.85V2.4H22.75ZM7.45 5.6H16.35V7.5C16.35 8.2 16.95 8.7 17.55 8.7H23.95C24.65 8.7 25.15 8.1 25.15 7.5V5.6H26.85L30.85 12.5H27.05H26.85H7.45H3.45L7.45 5.6ZM12.35 29.5V20.7H15.85V29.5H12.35V29.5ZM18.35 29.5V19.4C18.35 18.7 17.75 18.2 17.15 18.2H11.15C10.45 18.2 9.95 18.8 9.95 19.4V29.5H7.55C6.65 29.5 5.95 28.8 5.95 27.9C5.95 27 6.65 26.3 7.55 26.3C8.25 26.3 8.75 25.7 8.75 25.1C8.75 24.5 8.15 23.9 7.55 23.9C6.65 23.9 5.95 23.2 5.95 22.3C5.95 21.4 6.65 20.7 7.55 20.7C8.25 20.7 8.75 20.1 8.75 19.5C8.75 18.9 8.15 18.3 7.55 18.3C6.65 18.3 5.95 17.6 5.95 16.7C5.95 15.8 6.65 15.1 7.55 15.1H27.15H27.35C28.25 15.1 28.95 15.8 28.95 16.7C28.95 17.6 28.25 18.3 27.35 18.3H20.95C20.25 18.3 19.75 18.9 19.75 19.5C19.75 20.1 20.35 20.7 20.95 20.7H27.35C28.25 20.7 28.95 21.4 28.95 22.3C28.95 23.2 28.25 23.9 27.35 23.9H20.95C20.25 23.9 19.75 24.5 19.75 25.1C19.75 25.7 20.35 26.3 20.95 26.3H27.35C28.25 26.3 28.95 27 28.95 27.9C28.95 28.8 28.25 29.5 27.35 29.5H18.35Z"/>
                                    </svg>
                                </a>
                            </figure>
                        </div>
                        <div class="contact">
                            <figure>
                                <a href="{{ path('contact_index') }}">
                                    {% if app.request.get('_route') starts with 'contact' %}
                                    <svg width="40" height="22" viewBox="0 0 40 22" fill="#3996C4" xmlns="http://www.w3.org/2000/svg">
                                        {% else %}
                                    <svg width="40" height="22" viewBox="0 0 40 22" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                                        {% endif %}
                                        <path d="M7.66488 14.3851C10.36 14.3851 12.552 12.1926 12.552 9.49757C12.552 6.80249 10.3595 4.61047 7.66488 4.61047C4.97023 4.61047 2.77734 6.80249 2.77734 9.49757C2.77734 12.1926 4.9698 14.3851 7.66488 14.3851ZM7.66488 6.6668C9.22599 6.6668 10.4956 7.93646 10.4956 9.49757C10.4956 11.0587 9.22599 12.3283 7.66488 12.3283C6.10376 12.3283 4.8341 11.0582 4.8341 9.49757C4.8341 7.93689 6.10376 6.6668 7.66488 6.6668Z"/>
                                        <path d="M2.05676 21.5772C2.05676 19.4773 3.76491 17.7691 5.86486 17.7691H9.46485C9.57262 17.7691 9.67951 17.7735 9.7851 17.7826C10.0831 17.8084 10.3789 17.7085 10.5953 17.5095C10.8061 17.3154 10.9226 17.0501 10.9226 16.7626C10.9226 16.2381 10.5212 15.7883 10.0081 15.739C9.82916 15.722 9.6481 15.7128 9.46485 15.7128H5.86486C2.63094 15.7124 0 18.3433 0 21.5772V22H2.05676V21.5772Z" />
                                        <path d="M11.2876 21.9996H13.3444V19.4677C13.3444 17.0941 15.2755 15.163 17.6494 15.163H21.6194C23.9929 15.163 25.9244 17.0941 25.9244 19.4677V21.9996H27.9812V19.4677C27.9812 17.3206 26.9031 15.3315 25.0972 14.1473C24.0588 13.4662 22.8563 13.1063 21.6198 13.1063H17.6499C15.6852 13.1063 13.8592 14.0007 12.6402 15.5601C11.7558 16.6914 11.2885 18.0427 11.2885 19.4677V21.9996H11.2876Z" />
                                        <path d="M33.4029 15.7123H29.803C29.7022 15.7123 29.6023 15.7154 29.5028 15.7206C28.9482 15.7512 28.5137 16.2036 28.5137 16.7512C28.5137 17.0339 28.631 17.3066 28.8361 17.4999C29.0425 17.6941 29.3126 17.7914 29.5935 17.7752C29.6629 17.7709 29.7327 17.7691 29.803 17.7691H33.4029C35.5029 17.7691 37.2111 19.4773 37.2111 21.5772V22H39.2678V21.5772C39.2678 18.3433 36.6369 15.7123 33.4029 15.7123Z" />
                                        <path d="M31.6029 14.3851C34.2979 14.3851 36.4904 12.1926 36.4904 9.49757C36.4904 6.80249 34.2979 4.61047 31.6029 4.61047C28.9078 4.61047 26.7153 6.80249 26.7153 9.49757C26.7153 12.1926 28.9082 14.3851 31.6029 14.3851ZM31.6029 6.6668C33.164 6.6668 34.4336 7.93646 34.4336 9.49757C34.4336 11.0587 33.1635 12.3283 31.6029 12.3283C30.0422 12.3283 28.7721 11.0582 28.7721 9.49757C28.7721 7.93689 30.0422 6.6668 31.6029 6.6668Z"/>
                                        <path d="M19.6339 12.2961C23.0236 12.2961 25.7819 9.53815 25.7819 6.14803C25.7819 2.75791 23.024 0 19.6339 0C16.2437 0 13.4858 2.75791 13.4858 6.14803C13.4858 9.53771 16.2437 12.2961 19.6339 12.2961ZM19.6339 2.05632C21.8896 2.05632 23.7251 3.89188 23.7251 6.14803C23.7251 8.40374 21.8896 10.2393 19.6339 10.2393C17.3777 10.2393 15.5422 8.40374 15.5422 6.14803C15.5422 3.89188 17.3777 2.05632 19.6339 2.05632Z"/>
                                    </svg>
                                </a>
                            </figure>
                        </div>
                        <div class="skills">
                            <figure>
                                <a href="{{ path('skill_index') }}">
                                    {% if app.request.get('_route') starts with 'skill' %}
                                    <svg width="34" height="34" viewBox="0 0 34 34" fill="#3996C4" xmlns="http://www.w3.org/2000/svg">
                                    {% else %}
                                    <svg width="34" height="34" viewBox="0 0 34 34" fill="#ffffff" xmlns="http://www.w3.org/2000/svg">
                                    {% endif %}
                                        <path d="M31.5785 23.6874L23.3883 17.9573L23.5299 17.8157C25.5888 18.1666 27.6949 17.7919 29.5147 16.7409C32.3416 15.1089 34.0574 12.0625 33.9932 8.79056C33.9841 8.3172 33.7322 7.89523 33.3196 7.66214C32.9071 7.42943 32.4167 7.43132 32.0072 7.66818L28.3198 9.79696L25.9708 8.42676L25.9587 5.70752L29.6465 3.57837C30.0556 3.34188 30.3031 2.91801 30.3076 2.44504C30.3122 1.97168 30.0734 1.54291 29.6684 1.29773C26.8393 -0.410202 23.3173 -0.432492 20.4756 1.23993C17.3114 3.10312 15.6016 6.83556 16.1947 10.4592L15.1754 11.4784L9.44457 5.74756V3.77783C9.44457 3.44615 9.27042 3.13864 8.98595 2.96788L4.26375 0.134552C3.89278 -0.0883364 3.4164 -0.029781 3.11003 0.276596L0.276706 3.10992C-0.0300478 3.4163 -0.0882252 3.89192 0.134663 4.26366L2.96798 8.98587C3.13874 9.27033 3.44625 9.44449 3.77793 9.44449H5.74766L11.4785 15.1754L1.52148 25.1324C-0.503401 27.1577 -0.503401 30.4531 1.52148 32.4787C2.53429 33.4911 3.86444 33.9974 5.19459 33.9974C6.52474 33.9974 7.85489 33.4911 8.86771 32.4783L17.9577 23.3882L23.6879 31.5784C24.7483 33.0948 26.4849 34 28.3334 34C31.4579 34 34 31.4579 34 28.3333C34 26.4849 33.0948 24.7482 31.5785 23.6874ZM17.8852 11.4399C18.1145 11.211 18.2101 10.88 18.1387 10.5638C17.4621 7.57336 18.8172 4.40872 21.434 2.86777C22.5417 2.21535 23.7804 1.89008 25.0203 1.89008C25.9677 1.89008 26.9159 2.08048 27.8056 2.46053L24.5397 4.34601C24.2462 4.51563 24.066 4.82919 24.0675 5.16805L24.0845 8.97529C24.086 9.30962 24.2643 9.61827 24.553 9.78676L27.8415 11.7051C28.1339 11.8759 28.4958 11.8762 28.7897 11.707L32.0552 9.82189C31.79 12.0172 30.5124 13.9842 28.5706 15.1051C27.024 15.9978 25.2163 16.2705 23.4744 15.878C23.0657 15.7364 22.6762 15.546 22.3135 15.3117L20.5009 13.4992C20.1322 13.1301 19.5338 13.1301 19.1655 13.4992L18.1806 14.484L16.5109 12.8143L17.8852 11.4399ZM6.80694 7.83214C6.62976 7.65496 6.3895 7.5556 6.13903 7.5556H4.31286L2.13385 3.92441L3.92451 2.13375L7.55569 4.31277V6.13894C7.55569 6.38941 7.65505 6.62967 7.83222 6.80685L17.2766 16.2513L16.251 17.2769L6.80694 7.83214ZM7.53227 31.1429C6.2433 32.4318 4.14626 32.4315 2.85729 31.1429C1.56832 29.8539 1.56832 27.7569 2.85729 26.4679L12.8143 16.5108L14.4841 18.1806L13.4992 19.1654C13.1302 19.5342 13.1302 20.1322 13.4992 20.5009L15.3881 22.3898C15.5547 22.5568 15.778 22.6512 16.0126 22.6622L7.53227 31.1429ZM28.3334 32.1111C27.1011 32.1111 25.9428 31.507 25.2352 30.4957L18.7186 21.1809C18.5418 20.9282 18.2528 20.7778 17.9445 20.7778H16.447L15.5026 19.8334L19.8334 15.5025L20.7778 16.447V17.9445C20.7778 18.2527 20.9282 18.5417 21.1809 18.7182L30.4958 25.2348C31.5071 25.9428 32.1111 27.101 32.1111 28.3333C32.1111 30.4164 30.4164 32.1111 28.3334 32.1111Z"/>
                                    </svg>
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                {% endblock %}
                {% block nav %}
                    <nav class="navbar navbar-expand-lg {% if app.request.get('_route') != 'app_login' %}white{% else %}dark{% endif %}">
                        <div class="container-fluid">
                            <a class="navbar-brand zzh-logo" href="{{ path('home') }}">
                                {% if app.request.get('_route') != 'app_login' %}
                                    <img src="{{ asset('assets/images/svg/zzh-logo-white.svg') }}" alt="Logo de Zero Zero Huit">
                                {% else %}
                                    <img src="{{ asset('assets/images/svg/zzh-logo-dark.svg') }}" alt="Logo de Zero Zero Huit">
                                {% endif %}
                            </a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        {% set relativePath = path('home')~'#'  %}
                                        <a class="nav-link active" aria-current="page" href="{{ path('home')~'#missions-anchor' }}">Nos missions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Qui sommes nous</a>
                                    </li>
                                </ul>
                                <span class="navbar-text">
                            <button type="button" class="connect-button btn">
                                {% if app.user %}
                                    <a href="{{ path('dashboard') }}">Dashboard</a>
                                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                                {% else %}
                                    <a href="{{ path('app_login') }}">Se connecter</a>
                                {% endif %}
                            </button>
                        </span>
                            </div>
                        </div>
                    </nav>
                {% endblock %}
    {% block footer %}
        <footer>
            <figure>
                <img src="{{ asset('assets/images/svg/zzh-logo-white.svg') }}" alt="Logo de Zero Zero Huit">
            </figure>
            <p>Made with love<br>by Séverine</p>
        </footer>
    {% endblock %}
    {% endblock %}
    {% block javascripts %}<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>{% endblock %}
    </body>
</html>






