{% extends 'base.html.twig' %}

{% block title %}Cible{{ target.firstName }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/dashboard-bases.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="container" class="admin-dashboard">
    <div id="target">
        {% block dashboard %}{{ parent() }}{% endblock %}
        <div class="page-width">
            <a class="return" href="{{ path('target_index') }}">< Retour</a>
            <h1>Cible<br>{{ target.firstName }} {{ target.lastName }}</h1>

            <div class="show-container">
                <figure>
                    <img src="{{ asset('assets/images/show.png') }}" alt="Illustration">
                </figure>

                <div class="infos">
                    <div class="first-name">
                        <p>Prénom</p>
                        <p>{{ target.firstName }}</p>
                    </div>
                    <div class="last-name">
                        <p>Nom</p>
                        <p>{{ target.lastName }}</p>
                    </div>
                    <div class="date-birth">
                        <p>Date de naissance</p>
                        <p>{{ target.dateBirth ? target.dateBirth|date('Y-m-d') : '' }}</p>
                    </div>
                    <div class="code-name">
                        <p>Nom de code</p>
                        <p>{{ target.codeName}}</p>
                    </div>
                    <div class="nationality">
                        <p>Nationalité</p>
                        <p>{{ target.nationality}}</p>
                    </div>
                </div>
            </div>
            <div class="actions-container">
                <button class="btn modify-button">
                    <a href="{{ path('target_edit', {'id': target.id}) }}">Modifier</a>
                </button>
                <form method="post" action="{{ path('target_delete', {'id': target.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette cible ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ target.id) }}">
                    <button class="btn delete-button">Supprimer</button>
                </form>

            </div>
        </div>
    </div>
    {% block footer %}{{ parent() }}{% endblock %}
</div>
{% endblock %}
