{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('assets/css/dashboard-bases.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div id="container">
    <div id="dashboard">
        {% block dashboard %}{{ parent() }}{% endblock %}

        <div class="intro page-width">
            <h1>Bonjour {{ app.user.firstName}}</h1>
            <p>Il y a actuellement <span>{{ missions|length }}</span> missions</p>
        </div>

        <div class="content page-width">
            <figure>
                <img src="{{ asset('assets/images/dashboard-illustration.png') }}">
            </figure>
            <div class="infos">
                <p>Total de cibles :{{ targets|length }}</p>
                <p>Total d'agents : {{ agents|length }}</p>
                <p>Total de planques : {{ places|length }}</p>
                <p>Total de contacts : {{ contacts|length }}</p>
                <p>Total de spécialités : {{ skills|length }}</p>
            </div>
        </div>

    </div>
    {% block footer %}{{ parent() }}{% endblock %}
</div>
{% endblock %}
